@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root{
	--cor01: #ffffff;
	--cor02: #ff0000;
	--text-color: #111111;
	--main-color: #9a0606;
	--fonte01: 'Cookie', cursive;
	--fonte02: 'DM Serif Display', serif;
	--big-font: 4.5rem;
	--h2-font: 3.3rem;
	--h3-font: 2rem;
	--normal-font: 1rem;
}
body{
	background: rgba(120, 120, 121, 0.286);
	color: var(--text-color);
}
/* HEADER */
header{
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 20px 14%;
	transition: all .35s ease;
	background-color: rgba(247, 245, 245, 0.418);
}
header img {
	width: 100%;
	max-height: 150px;
	z-index: 1;
}
.logo{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--text-color);
	font-family: var(--fonte01);
	text-transform: uppercase;
}
.navlist{
	display: flex;
}
.navlist a{
	color: var(--text-color);
	font-weight: 600;
	padding: 10px 25px;
	font-size: var(--normal-font);
	transition: all .36s ease;
}
.navlist a:hover{
	color: #9a0606;
}
.header-icons i{
	font-size: 32px;
	color: var(--text-color);
	margin-right: 20px;
	transition: all .36s ease;
}
header.sticky{
	background: var(--cor01);
	padding: 14px 14%;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.header-icons i:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 34px;
	color: var(--text-color);
	z-index: 10001;
	margin-right: 20px;
	display: none;
}

section{
	padding: 100px 14%;
}
/* HOME */
.home{
	min-height: 100vh;
	width: 100%;
	background-image: url("/Projetos/Ecommerce-webpage/assets/images/background/background-img.jpg");
	background-size: cover;
	background-position: center top;
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
	background-attachment: fixed;
}
.home img {
	display: flex;
	max-width: 100%;
	width: 55%;
}
.btn{
	display: inline-block;
	padding: 13px 25px;
	background: var(--main-color);
	color: var(--cor01);
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	border-radius: 5px;
	transition: all .35s ease;
	position: absolute;
	bottom: 50px;
}
.btn:hover{
	transform: translateY(-5px);
	background: var(--text-color);
}
/* COLEÇÕES */
.center-texto{
	text-align: center;
}
.center-texto h2{
	font-size: var(--fonte02);
	text-transform: uppercase;
	font-size: 2.5rem;
}
.colecoes-conteudo{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	gap: 1.3rem;
	align-items: center;
	margin-top: 4rem;
}
.row{
	position: relative;
	transition: all .35s ease;
}
.row img{
	width: 100%;
	height: auto;
}
.texto-cd{
	position: absolute;
	top: 20px;
	left: 50px;
}
.texto-cd h5{
	font-size: 19px;
	letter-spacing: 2px;
	margin-bottom: 1rem;
}
.texto-cd p{
	color: rgb(253, 250, 250);
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 400;
}
.row .arrow{
	position: absolute;
	bottom: 15px;
	left: 50px;
}
.row .arrow i{
	height: 35px;
	width: 35px;
	background: var(--cor01);
	border-radius: 50%;
	font-size: 20px;
	color: var(--text-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all .35s ease;
}
.row:hover{
	transform: scale(0.9) translateY(-5px);
	cursor: pointer;
}
.row:hover i{
	background: var(--main-color);
	color: var(--cor01);
}
/* PROMOÇÕES */
.promo{
	height: 60vh;
	width: 100%;
	background-image: url("/Projetos/Ecommerce-webpage/assets/images/background/background-middle.png");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.promo-texto h6{
	font-size: 17px;
	font-weight: 500;
	letter-spacing: .6px;
	margin-bottom: 14px;
	color: white;
}
.promo-texto h4{
	font-size: 3.3rem;
	line-height: 1.2;
	letter-spacing: .6rem;
	margin-bottom: 30px;
	color: white;
}
/* LANÇAMENTOS */
.novo-conteudo{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 1.3rem;
	align-items: center;
	margin-top: 4rem;
	text-align: center;
}
.box{
	position: relative;
	transition: all .40s ease;
}
.box img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 10px;
}
.box p {
	text-decoration: line-through;
	color: var(--cor02);
	font-weight: 600;
}
.box h5{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.box h6{
	font-size: 16px;
	font-weight: 700;
}
.new{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 30px;
	background: var(--main-color);
	color: var(--cor01);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.box:hover{
	transform: scale(0.9) translateY(-5px);
	cursor: pointer;
}
.marcas{
	padding: 50px 14%;
}
.marcas-conteudo{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	gap: 2rem;
	align-items: center;
	justify-content: center;
}
.main img{
	width: 100%;
	height: auto;
	opacity: 0.6;
	transition: all .35s ease;
	cursor: pointer;
}
.main-spinnin img{
	margin-left: 50px;
	width: 50%;
	height: auto;
	opacity: 0.6;
	transition: all .35s ease;
	cursor: pointer;
}
.main img:hover, .main-spinnin img:hover{
	opacity: 1;
}
.contato{
	background: var(--text-color);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 2rem;
}
.main-contato h3{
	font-size: 23px;
	margin-bottom: 1.6rem;
	color: var(--cor01);
}
.main-contato h5{
	font-size: 15px;
	font-weight: 600;
	color: #555;
}
.icons{
	display: flex;
	margin-top: 2rem;
}
.icons i{
	font-size: 25px;
	margin-right: 1rem;
	color: #555;
	transition: all .35s ease;
}
.icons i:hover{
	color: var(--cor01);
	transform: scale(1.1) translateY(-5px);
}
.main-contato li{
	margin-bottom: 15px;
}
.main-contato li a{
	display: block;
	color: #555;
	font-size: var(--normal-font);
	font-weight: 600;
	transition: all .35s ease;
}
.main-contato li a:hover{
	transform: translateX(-8px);
	color: var(--cor01);
}

.copyright{
	text-align: center;
	padding: 20px;
	background: var(--text-color);
}
.copyright p{
	color: #555;
	font-size: 14px;
	letter-spacing: 1px;
}
.top{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}
.top i{
	font-size: 22px;
	color: var(--cor01);
	padding: 14px;
	background: var(--main-color);
	border-radius: 2rem;
}
@media (max-width: 1000px){
	header{
		padding: 7px 4%;
		transition: .2s;
	}
	header.sticky{
		padding: 14px 4%;
		transition: .2s;
	}
	section{
		padding: 80px 4%;
		transition: .1s;
	}
}
@media (max-width: 670px){
	#menu-icon{
		display: block;
		cursor: pointer;
	}
	.header-icons{
		display: inline-flex;
	}
	.navlist{
		position: absolute;
		top: 100%;
		left: -100%;
		width: 280px;
		height: 120vh;
		background: var(--cor01);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 150px 30px;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 1.2rem 0;
	}
	.navlist.open{
		left: 0;
	}
}

