@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --fonte01: 'Rampart One', sans-serif; 
    --fonte02: 'Luckiest Guy', sans-serif;
    --fonte03: 'Poppins', sans-serif;
    --cor01: #ffffff;
    --cor02: #ffa500;
    --cor03: #666666;
    --cor04: #444444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte03);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/Projetos/Login-popArt/assets/images/background.jpg");
    background-size: cover;

}

.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: var(--cor01);
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-image: url("/Projetos/Login-popArt/assets/images/cat-img.jpg");
    background-size: cover;
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.text-presentation{
    font-family: 'Lucida Sans', sans-serif;
    padding-top: 50px;
    font-size: 0.8em;
    
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title {
    font-size: 35px;
    color: var(--cor02);
    margin-bottom: 10px;
    font-family: var(--fonte01);
}

.input-field {
    width: 100%;
    height: 50px;
    background: var(--cor01);
    margin: 10px 0;
    border: 2px solid var(--cor02);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: var(--cor03);
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--cor04);
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: var(--cor02);
    color: var(--cor01);
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--cor01);
}

.btn:hover {
    background: rgb(177, 115, 2);
}

.social-text {
    margin: 10px 0;
    font-size: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor04);
    border: 1px solid var(--cor04);
    border-radius: 50px;
    margin: 0 5px;
}

a {
    text-decoration: none;
}

.social-icon:hover {
    color: var(--cor02);
    border-color: var(--cor02);
}

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: none;
}

.content {
    color: var(--cor01);
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
    background-color: rgba(182, 7, 7, 0.926);
    padding: 20px;
    border-radius: 15px;
    border: 7px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.489);
}

.panel h3 {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fonte02);
    font-weight: 100;
}

.panel p {
    font-size: 15px;
    padding: 10px 0;
    font-weight: 600;
}

.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}

.account-text {
    display: none;
}


/*Animation*/

.container.sign-up-mode::before {
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}

/*Responsive*/

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}

@media (min-width:520px) {
    #sign-up-btn2 {
        display: none;
    }
}