@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css");

:root {
  --cor01: #0845ef;
  --cor02: #ffffff;
  --cor03: #333;
  --cor04: #000;
  --cor05: #111;

  --fonte01: 'Poppins', sans-serif
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  transition: smooth;
}
body {
  font-family: var(--fonte01);
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--cor02);
  position: relative;
  z-index: 1;
}

/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/images/bckimg.svg");
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}
.header img {
  position: absolute;
  top: 25rem;
  left: 5%;
  width: 40%;
  height: 60%;
  object-fit: cover;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

/* Navbar */
.container {
  max-width: 114rem;
  margin: 0 auto;
}
nav {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.6rem 0;
}
.nav-list {
  display: flex;
  align-items: center;
  color: var(--cor02);
}
.nav-list a {
  letter-spacing: 1px;
  color: var(--cor02);
  padding: 10px;
  border-radius: .5rem;
  transition: all 300ms ease-in-out;
  font-family: var(--fonte01);
  text-decoration: none;
}
.nav-list a:hover {
    transform: translateY(-3px);
    background-color: var(--cor01);
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--cor02);
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--cor01);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-radius: 20px 0px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor01);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  z-index: 999;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  font-size: 2.5rem;
  color: var(--cor02);
  text-transform: uppercase;
}
.logo h1 span {
  font-weight: bold;
}

/* Footer */
footer {
  padding: 1.6rem 1rem;
  text-align: center;
  background-color: var(--cor04);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer .social-medias {
  display: flex;
  gap: 1rem;
}
footer .social-medias a {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--cor02);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: 0.5s;
}
footer p{
  color: var(--cor02);
}
footer p span{
  color: var(--cor01);
}
@media screen and (max-width: 780px) {
  .form-image {
      display: none;
  }
}